:root{
    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #f12711;
    --card1-gradient-color2: #f5af19;
    --card2-gradient-color1: #7F00FF;
    --card2-gradient-color2: #E100FF;
    --card3-gradient-color1: #7cd5f8;
    --card3-gradient-color2: #6089fa;
    --card4-gradient-color1: #11998e;
    --card4-gradient-color2: #38ef7d;
}

.card-wrap{
    background: #fff;
    width: 0;
    height: 100%;
    float: left;
    border-radius: 20px;
    overflow: hidden;
    color: var(--color-text);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: relative;
    display: none;
}

.card-header{
    height: 15%;
    width: 100%;
    background: red;
    border-radius:100% 0% 100% 0% / 0% 50% 50% 100%;
    display: grid;
    place-items: center;

}

.card-header i{
    color: #fff;
    font-size: 72px;
}
.card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
}
.card-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.card-text{
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
.card-btn{
    border: none;
    border-radius: 100px;
    padding: 5px 30px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.card-header.one{
    background: linear-gradient(to bottom left, var(--card1-gradient-color1), var(--card1-gradient-color2));
}
.card-header.two{
    background: linear-gradient(to bottom left, var(--card2-gradient-color1), var(--card2-gradient-color2));
}
.card-header.three{
    background: linear-gradient(to bottom left, var(--card3-gradient-color1), var(--card3-gradient-color2));
}
.card-header.four{
    background: linear-gradient(to bottom left, var(--card4-gradient-color1), var(--card4-gradient-color2));
}